$red: hsl(0, 100%, 50%);
$green: hsl(120, 100%, 25%);
$blue: hsl(240, 100%, 50%);

.WordWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2,
  h4 {
    margin: 5px;
  }
}

.quizOptionsWrapper {
  border: solid $blue;
  display: flex;
}
.quizButton {
  cursor: pointer;
  width: 20vw;
  margin: 10px;
  height: 100px;
  transition: 0.3s;
  font-size: 40px;
  color: black;
  border-radius: 15px;
  border: solid transparent;
}
.DerButton {
  background-color: lighten($red, 30%);
  &.Der {
    color: white;
    background-color: $red;
    font-weight: bolder;
  }
  &:hover {
    border: solid lighten($red, 30%);
    background-color: $red;
  }
}
.DieButton {
  background-color: lighten($blue, 30%);
  &.Die {
    background-color: $blue;
    color: white;
    font-weight: bolder;
  }
  &:hover {
    border: solid lighten($blue, 30%);
    background-color: $blue;
  }
}
.DasButton {
  background-color: lighten($green, 30%);
  &.Das {
    background-color: $green;
    color: white;
    font-weight: bolder;
  }
  &:hover {
    border: solid lighten($green, 30%);
    background-color: $green;
  }
}
@media only screen and (max-width: 600px) {
  .quizOptionsWrapper button {
    width: 25vw;
    height: 50px;
  }
}
.hintWrapper {
  border: solid $blue;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  &:hover {
    background-color: aqua;
  }
}
$neon: hsl(317 100% 54%);
$bg: hsl(323 21% 16%);

.rightAnswer {
  box-shadow: 0 0 2em 0.2em $neon;
}

.neon-button {
  font-size: 40px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $neon;
  border: $neon 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 $neon, 0 0 0.5em 0 $neon;
  position: relative;

  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: $neon;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em $neon;
    opacity: 0;
    background-color: $neon;
    z-index: -1;
    transition: opacity 100ms linear;
  }
}

.afterClick {
  &::before,
  &::after {
    opacity: 1;
  }
  text-shadow: none;
}

.nextQuestionWrapper {
  display: flex;
  justify-content: center;
}
