.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
}
.preGameScreen {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  form {
    display: flex;
    flex-direction: column;
  }
  button {
    margin-top: 5px;
  }
}
